{% extends "./_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">検索条件</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="filter" method="get">
					<div class="modal-body">
						{{filter.form|crispy}}
					</div>
				</form>
				<div class="modal-footer">
					<a class="btn btn-outline-secondary" data-dismiss="modal">戻る</a>
					<button type="submit" class="btn btn-outline-secondary" form="filter">検索</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<a class="btn btn-secondary filtered" style="visibility:hidden" href="/?page=1">検索を解除</a>
			<div class="float-right">
				<a class="btn btn-outline-secondary" href="{% url 'create' %}">新規</a>
				<a class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" href="#">検索</a>
			</div>
		</div>
	</div>

	<div class="row" >
		<div class="col-12">
			{% include "./_pagination.html" %}
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-12">
			<ul class="list-group">
				<table border="1">
					<tr>
						<th>ID</th>
						<th>ユーザーID</th>
						<th>ツイートテキスト</th>
						<th>RT数</th>
						<th>FV数</th>
						<th>感情スコア</th>
						<th>ツイート日時</th>
						<th>リンク</th>
					</tr>

					{% for tweet in tweet_list %}
						<tr>
							<td><p>{{ tweet.pk }}</p></td>
							<td><p>{{ tweet.userid }}</p></td>
							<td><p>{{ tweet.tweettext }}</p></td>
							<td><p>{{ tweet.retweetvolume }}</p></td>
							<td><p>{{ tweet.favoritevolume }}</p></td>
							<td><p>{{ tweet.tweetsentimentscore }}</p></td>
							<td><p>{{ tweet.tweettime|date:"Y/m/d G:i:s"}}</p></td>
							<td><a href={{ tweet.tweeturl }}>Link</a></td>
						</tr>

				{% empty %}
				<li class="list-group-item">
					対象のデータがありません
				</li>
				{% endfor %}
				</table>
			</ul>
		</div>
	</div>
	<div class="row" >
		<div class="col-12">
			<div class="float-right">
				<a class="btn btn-outline-secondary" href="{% url 'create' %}">新規</a>
				<a class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" href="#">検索</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
